.button{
    font-size: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid  rgb(110, 83, 136);
    color: rgb(153, 113, 190);
    box-shadow: 10px 5px 13px 1px rgba(221, 201, 201, 0.54);
    cursor: pointer;
    border-radius:  0.5rem ;
    width: 100%;
        


}
.button:focus{
    outline: none;
}
.button:hover,
.button:active
{
    color:  rgb(58, 9, 104);
    border: 1px solid  rgb(92, 40, 141);

}
@media (min-width: 768px){
    .button{
        width: auto;
    }

}